

.col-focus{
    z-index: 10;
    background-color: purple !important;
    position: absolute;
    width: 300px;
    z-index: 10
}

.col-blur{
    z-index: 9 !important;
    background-color: blue !important;
    position: absolute;
    width: 300px;
    z-index: 10
}